


<div class="container-fluid page">
  <div class="page_box p-2 mt-2">Reservation</div>
  <div class="page_content shadow p-3 ml-5 position-relative">
    <div class="page_content-data  ">
      <!--      <div class="card">-->
      <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Reservation Actuelle">
          <app-admin-reservations-actuelle></app-admin-reservations-actuelle>
        </mat-tab>
          <mat-tab label="Historique">
          <app-admin-reservations-historique></app-admin-reservations-historique>

        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
<!--</div>-->
