

<div class="container-fluid page">
  <div class="page_box">Reservations</div>
  <div class="page_content shadow p-3 ml-5 position-relative">
    <div class="page_content-data  ">
      <!--      <div class="card">-->
      <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Reservations Bungalow" >
<app-admin-list-reservations-bungalow-confirme></app-admin-list-reservations-bungalow-confirme>        </mat-tab>
          <mat-tab label="Reservations Chambre" >
<app-admin-list-reservations-chambre-confirme></app-admin-list-reservations-chambre-confirme>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
<!--</div>-->
