<mat-nav-list>
  <div class="logo ">
   <img src="../../../assets/images/logo.png" alt="">
  </div>
  <mat-divider></mat-divider>
<!--  <h2 matSubheader class="mt-2"><i>Application</i></h2>-->
  <a   mat-list-item routerLink="accueil"  >

    <i class=" fa fa-house"> </i>Dashboard


 <i class="fa-solid fa-caret-left"></i>

  </a>
  <a mat-list-item routerLink="reservations">
    <i class="fa-solid fa-bars-staggered"></i>Reservations
  </a>
  <a mat-list-item routerLink="adherents" >
    <i class="fa fa-users"></i> Adherents
  </a>
  <a mat-list-item routerLink="logement" >
    <i class="fa-solid fa-hotel"></i> Logements
  </a>

</mat-nav-list>
