.logo{
  text-align: center;
  font-size: 35px;
  font-family: Macondo;
color:#fff;
  img{
    width: 165px;
    height: 65px;
  }
}
 i{
    vertical-align: center;
   margin-right:0.5rem;
}
.mat-divider{
  border-top-width:2px ;
  border-color: #b4b4b4;
}
.mat-list-item{
  color: #7a7979 !important;
  font-size:0.85rem ;
  height: 44px !important;
  margin-bottom: 4px;
  ::ng-deep{
    .mat-list-item-content{
      //border-radius: 5px;
      //margin: 0 8px;
      &:hover{
        background: rgba(194, 194, 194, 0.45) !important;
        color: #a13e0a;


      }

      }
    }
  }


.list-item-active{
  color: #1e3d59 !important;
  ::ng-deep{
    .mat-list-item-content{
      background: #1e3d59 !important;
      &:hover{
        background: #a80404;
      }
    }
  }
}
.mat-subheader{
  color: #ff6e40;
  font-size: 0.7rem;
  font-weight: 100;
  letter-spacing: 1px;
}


.mat-list-base{
  padding-top: 1px !important;
}
.fa-angle-right{
  padding-right: 10px !important;
}



//
//@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);
//@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");
//
//
//nav{
//  position: fixed;
//  top: 0;
//  bottom: 0;
//  left: 0;
//}
//.active{
//  background-color: #c3e9ee;
//}
//
//
//
//
//.example-tree-invisible {
//  display: none;
//}
//
//.example-tree ul,
//.example-tree li {
//  margin-top: 0;
//  margin-bottom: 0;
//  list-style-type: none;
//}
//
///*
// * This padding sets alignment of the nested nodes.
// */
//.example-tree .mat-nested-tree-node div[role=group] {
//  padding-left: 40px;
//}
//
///*
// * Padding for leaf nodes.
// * Leaf nodes need to have padding so as to align with other non-leaf nodes
// * under the same parent.
// */
//.example-tree div[role=group] > .mat-tree-node {
//  padding-left: 40px;
//}
