<!--chambres-->
<div class="container mb-5">
  <div class="row">
    <div class="col-sm-12 col-lg-8">
      <div class="text size-image">
        <a routerLink="chambre"><img src="../../../../assets/images/room2.jpg"></a>
      </div>
    </div>
    <div class="col-sm-12 col-lg-4">
      <div class="text">
        <h1 style="text-align: center; margin-top: 80px">Club Logo</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos molestiae nam soluta tempora voluptates. Accusamus ad aspernatur at autem consequatur eaque incidunt libero maiores perspiciatis praesentium quisquam repudiandae, soluta voluptatibus.</p>
        <a routerLink="chambre" class="btn btn-primary btn-center">Visitez les Chambres</a>
      </div>
    </div>
  </div>
</div>

<!--bongalos-->
<div class="container mb-5">
  <div class="row mt-6">
    <div class="col-sm-12 col-lg-4">
      <div class="text" style="display: block;">
        <h1 style="text-align: center; margin-top: 80px">Club Logo</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos molestiae nam soluta tempora voluptates. Accusamus ad aspernatur at autem consequatur eaque incidunt libero maiores perspiciatis praesentium quisquam repudiandae, soluta voluptatibus.</p>
        <a routerLink="bongalo" class="btn btn-primary btn-center">Visitez les Bongalos</a>
      </div>
    </div>
    <div class="col-sm-12 col-lg-8">
      <div class="text mb-2 size-image">
        <a routerLink="bongalo"><img src="../../../../assets/images/chbrjpg.jpg"></a>
      </div>
    </div>
  </div>
</div>


