<div id="main_content">
  <div id="sp-navigate">
    <img src="../../../../../assets/images/pooool.jpeg" alt="">
    <div class="container">
      <div class="modultable">
        <h2>Contact</h2>
        <ul class="breadcrumb">
          <li><a href="/" class="pathway">
            <span> Accueil</span>
          </a>
          </li>
          <li class="active">
            <span>   / Contact</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="sp-info">
    <div class="container-contact">


      <div class="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3395.8789618976803!2d-8.004886185593222!3d31.664531047179118!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xdafedccd3010e25%3A0x444e8118d158613e!2sClub%20Universit%C3%A9%20Cadi%20Ayyad!5e0!3m2!1sfr!2sma!4v1654789857800!5m2!1sfr!2sma"
          width="1060" height="300" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="content-tittle">
        <div class="tittle-bloc">
          <h3>Nous Contacter</h3>
          <p class="sub">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
      </div>


      <div class="content-articles  ">
        <div class="infos-contact">
          <div class="cols address-contact">
            <div class="wpb_wrapper">
              <div class="wpb_wrapper_img">
          <span class="ico-contact">
            <i class="fa fa-map-marker"></i>
          </span>
                <p>Adresse</p>
              </div>
              <div class="wpb_wrapper_txt">
                <p class="add-height">149 Rue Ibn Zohair, Marrakech</p>
              </div>
            </div>
          </div>

          <div class="cols mail-contact">
            <div class="wpb_wrapper">
              <div class="wpb_wrapper_img">
                 <span class="ico-contact">
                  <i class="fa fa-envelope-o"></i>
              </span>
                <p>E-mail</p>
              </div>
              <div class="wpb_wrapper_txt">
                <p class="add-height">
                  <a href="">maiil.uca@gmail.com</a>
                </p>
              </div>
            </div>
          </div>

          <div class="cols phone-contact">
            <div class="wpb_wrapper">
              <div class="wpb_wrapper_img">
          <span class="ico-contact">
            <i class="fa fa-phone"></i>
          </span>
                <p>Téléphone</p>
              </div>
              <div class="wpb_wrapper_txt">
                <p class="add-height">+212 623-512698</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>

