<div id="sp-navigate">
  <img src="../../../../../assets/images/pooool.jpeg" alt="">
  <div class="container">
    <div class="moduletable">

      <h2>Qui sommes-nous ?</h2>

      <ul class="breadcrumb">

        <li>
          <a  href="/" class="pathway"> <span>Accueil </span></a>
        </li>
<!--        <li>-->
<!--          <a  href="/qui-sommes-nous" class="pathway"><span> /  Nous connaître</span></a>-->
<!--        </li>-->
        <li class="active">
				<span>
					/  Qui sommes-nous ?				</span>
        </li>
      </ul>
    </div>

  </div>
</div>




<div id="main_content">
  <div class="container">
    <div class="item-page qui-sommes-nous" itemscope itemtype=" ">
      <meta itemprop="inLanguage" content="fr-FR" />







      <div itemprop="articleBody">
        <div class="content-tittle">
          <div class="tittle-bloc">
            <h3>Qui sommes-nous ?</h3>
            <!--<p class="subdesc">Circumstances occur in which toil and pain can procure him some great pleasure.</p>--></div>
        </div>
        <div class="content-articles">
          <div class="blocs">
            <div class="bloc_item apropos">
              <div class="title"><!--<h2>Prestalys</h2>--></div>
              <div class="bloc_content">
                <div class="left_text">
                  <p>Depuis 2009, Prestalys est un acteur majeur de la gestion de copropriété immobilière et du Facility management , dédié aux sites de grande envergure, à vocation résidentielle, touristique, industrielle et commerciale à travers plusieurs villes du Royaume.</p>
                  <p>Prestalys s’attache à définir les services, les solutions et les moyens à mettre en place pour répondre aux besoins complexes des sites sous gestion.</p>
                  <p>Notre champ d’intervention couvre les aspects administratifs, juridiques et financiers, mais également le pilotage des prestations multi-techniques et multiservices.</p>
                  <p>Prestalys est une filiale du Groupe Armonia, acteur majeur du Facility management en Europe, en partenariat avec le Groupe Ametys-Onapar.</p>
                </div>
                <div class="right_text"><img src="/images/logo-lg.png" alt="" /></div>
              </div>
            </div>
<!--            <div class="bloc_item chiffres">-->
<!--              <div class="title">-->
<!--                <h2>Nos chiffres clés</h2>-->
<!--              </div>-->
<!--              <div class="bloc_content">-->
<!--                <div class="item"><img src="/images/icons/002.png" alt="" /> <span class="chiffre milestone-value">30</span>-->
<!--                  <p class="text">Sites d’envergure</p>-->
<!--                </div>-->
<!--                <div class="item"><img src="/images/icons/005.png" alt="" /> <span class="chiffre milestone-value">2500</span>-->
<!--                  <p class="text">Lots individuels</p>-->
<!--                </div>-->
<!--                <div class="item"><img src="/images/icons/003.png" alt="" /> <span class="chiffre milestone-value">30</span>-->
<!--                  <p class="text">Cadres</p>-->
<!--                </div>-->
<!--                <div class="item"><img src="/images/icons/001.png" alt="" /> <span class="chiffre milestone-value">800</span>-->
<!--                  <p class="text">Agents en sous-traitance</p>-->
<!--                </div>-->
<!--                <div class="item"><img src="/images/icons/004.png" alt="" /> <span class="chiffre milestone-value budget">80</span>-->
<!--                  <p class="text">Budget d’exploitation sous-gestion</p>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
