<!--&lt;!&ndash; Navbar  &ndash;&gt;-->
<!--<nav class="navbar fixed-top navbar-expand-lg c navbar-dark p-md-1">-->
<!--  <div class="container">-->
<!--    <a class="navbar-brand" href="#"><img class="logo" src="../../../assets/images/logo.png"></a>-->
<!--    <button-->
<!--      class="navbar-toggler"-->
<!--      type="button"-->
<!--      data-bs-toggle="collapse"-->
<!--      data-bs-target="#navbarNav"-->
<!--      aria-controls="navbarNav"-->
<!--      aria-expanded="false"-->
<!--      aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->

<!--    <div class="collapse navbar-collapse" id="navbarNav">-->
<!--      <div class="mx-auto"></div>-->
<!--      <ul class="navbar-nav">-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link " routerLink="">Acceuil</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link " routerLink="/reservation">Espace-Reservation</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link " routerLink="/login">Espace-Adherent</a>-->
<!--        </li>-->
<!--        <li >-->
<!--          <button >-->
<!--            <i class="fa-solid fa-pen"></i>-->
<!--            <a class="button-contact" href="#">Contactez-Nous</a>-->
<!--          </button>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->












<!--<div class=" hero">-->
<!--  <nav class="navbar fixed-top navbar-expand-lg">-->
<!--    <ul class="nav-left">-->
<!--      <li >-->
<!--        <button class="btn-a" >  <i class="fa-solid fa-bars"></i>  MENU</button></li>-->
<!--    </ul>-->
<!--    <img  src="../../../assets/images/logo.png" alt="logo">-->
<!--    <ul class="nav-right">-->
<!--      <li><a routerLink="contact" routerLinkActive="active" href="#">CONTACT</a></li>-->
<!--      <li><a href="#">LOGIN</a></li>-->
<!--    </ul>-->
<!--  </nav>-->
<!--</div>-->



<div id="sp-header">
  <div id="top-content" class="scrolling">
    <div class="container">
      <div class="lg-logo-container">
        <a class="logo" href="/"><img src="../../../assets/images/logo.png" alt="" border="0"></a>
      </div>
      <div id="sp-menu">
        <div class="moduletable">
          <ul class="nav menu">
            <li class="item-139 deeper parent">
              <a routerLink="/qui-sommes-nous">Nous connaitre</a>
            </li>
             <li class="item-108 current active deeper parent">
               <a  routerLink="reservation">Reserver maintenant</a>
             </li>
            <li class="item-112 " >
               <a routerLink="/contact">Contactez-nous</a>
             </li>
            <li class="item-113">
              <a routerLink="/login" class="contact-link" >Login</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
