table {
  width: 100%;
}
.align{
  text-align: center;
}

.fa-circle-minus{
  color: #e30202;
}

.fa-plus{
  color: darkgreen;

}


.btn-outline-success:hover{

.fa-plus{
  color: white;
}
}

.add{
  font-family: Roboto;
  font-size: 18px;
}
.new-chambre{
  padding-left: 78%;
}
