<div class="mat-elevation-z0 p-3">
  <table mat-table [dataSource]="chambreLibres" >



    <!-- Name Column -->
    <ng-container matColumnDef="numero">
      <th mat-header-cell *matHeaderCellDef> NO. </th>
      <td mat-cell *matCellDef="let element"> {{element.chambre.numero}}  </td>
    </ng-container>



    <ng-container matColumnDef="dateDebut">
      <th mat-header-cell *matHeaderCellDef> Date debut </th>
      <td mat-cell *matCellDef="let element"> {{element.dateDebut}} </td>
    </ng-container>

    <ng-container matColumnDef="dateFin">
      <th mat-header-cell *matHeaderCellDef> Date fin </th>
      <td mat-cell *matCellDef="let element"> {{element.dateFin}}</td>
    </ng-container>
    <!-- Weight Column -->
    <ng-container matColumnDef="proposer">
      <th class="align"  mat-header-cell *matHeaderCellDef> Proposer </th>
      <td class="align" mat-cell *matCellDef="let element"><span (click)="proposer(element.dateDebut,element.dateFin,element.chambre.numero)">
        <button class="btn-white btn"><i class="fa-solid fa-check"></i></button></span> </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!--  <mat-paginator [pageSizeOptions]="[5, 10, 20]"-->
  <!--                 showFirstLastButtons-->
  <!--                 aria-label="Select page of periodic elements">-->
  <!--  </mat-paginator>-->
</div>
