.form-control.ng-touched.ng-invalid{
  border: 1px solid red;
}
/*.example-form {*/
/*  min-width: 150px;*/
/*  max-width: 500px;*/
/*  width: 100%;*/
/*}*/

/*.example-full-width {*/
/*  width: 100%;*/
/*}*/



.bg-image{
  background-image: url("../../../assets/images/OIP.jpg");
  background-size: contain;
}
/*.noneDecoration{*/
/*  color: darkred;*/
/*  text-decoration: none;*/
/*  padding: 10px;*/
/*}*/

/*.gradient-custom-3 {*/
/*  !* fallback for old browsers *!*/
/*  background: #84fab0;*/

/*  !* Chrome 10-25, Safari 5.1-6 *!*/
/*  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));*/

/*  !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
/*  background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))*/
/*}*/
/*.gradient-custom-4 {*/
/*  !* fallback for old browsers *!*/
/*  background: #84fab0;*/

/*  !* Chrome 10-25, Safari 5.1-6 *!*/
/*  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));*/

/*  !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
/*  background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))*/
/*}*/
