<div>
  <a routerLink=""><img class="img-pool" src="../../../../assets/images/pooool.jpeg" alt=""></a>
</div>
<div class="white-bloc full-bloc">
 <h3>CLUB UCA</h3>
</div>
  <div class=" bloc">
    <div class="left-bloc ">
      <div class="txt-bloc-full">
        <h3 class="title">ADMINISTRATION</h3>
        <ul>
          <li>Contracter, poursuivre ou résilier tout contrat d’adhésion, de prestation ou de service.</li>
          <li>Contracter, poursuivre ou résilier tout contrat d’adhésion, de prestation ou de service.</li>
          <li>Contracter, poursuivre ou résilier tout contrat d’adhésion, de prestation ou de service.</li>
          <li>Contracter, poursuivre ou résilier tout contrat d’adhésion, de prestation ou de service.</li>
        </ul>
      </div>
    </div>
    <div class="right-bloc full-bloc">
      <div class="right-bg">
        <img src="../../../../assets/images/room2.jpg" alt="">
      </div>
    </div>
  </div>

<div class="bloc">
  <div class="left-bloc full-bloc">
    <div class="left-bg">
      <img src="../../../../assets/images/uca.jpg" alt="">
    </div>
  </div>
  <div class="right-bloc ">
    <div class="txt-bloc-full">

      <h3 class="title">ADMINISTRATION</h3>

      <ul>
        <li>Contracter, poursuivre ou résilier tout contrat d’adhésion, de prestation ou de service.</li>
        <li>Contracter, poursuivre ou résilier tout contrat d’adhésion, de prestation ou de service.</li>
        <li>Contracter, poursuivre ou résilier tout contrat d’adhésion, de prestation ou de service.</li>
        <li>Contracter, poursuivre ou résilier tout contrat d’adhésion, de prestation ou de service.</li>
      </ul>
    </div>
  </div>
</div>

<!--<div>-->
<!--  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3395.8789618976803!2d-8.004886185593222!3d31.664531047179118!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xdafedccd3010e25%3A0x444e8118d158613e!2sClub%20Universit%C3%A9%20Cadi%20Ayyad!5e0!3m2!1sfr!2sma!4v1654789857800!5m2!1sfr!2sma" width="1000" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>-->
<!--</div>-->
