<!-- Footer -->
<footer class="text-center text-lg-start bg-black text-white">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span class="h4">CLUB UCA</span>
    </div>
    <!-- Left -->

    <!-- Right icons -->
    <!--    <div>-->
    <!--      <a href="" class="me-4 text-reset">-->
    <!--        <i class="fa fa-facebook"></i>-->
    <!--      </a>-->
    <!--      <a href="" class="me-4 text-reset">-->
    <!--        <i class="fab fa-twitter"></i>-->
    <!--      </a>-->
    <!--      <a href="" class="me-4 text-reset">-->
    <!--        <i class="fab fa-google"></i>-->
    <!--      </a>-->
    <!--      <a href="" class="me-4 text-reset">-->
    <!--        <i class="fab fa-instagram"></i>-->
    <!--      </a>-->
    <!--      <a href="" class="me-4 text-reset">-->
    <!--        <i class="fab fa-linkedin"></i>-->
    <!--      </a>-->
    <!--      <a href="" class="me-4 text-reset">-->
    <!--        <i class="fab fa-github"></i>-->
    <!--      </a>-->
    <!--    </div>-->
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <!--          <h6 class="text-uppercase fw-bold mb-4">-->
          <!--            <i class="fa fa-gem me-3"></i>CLUB UCA-->
          <!--          </h6>-->
          <img src="../../../assets/images/logo.png" alt="">
          <p class="color">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto cupiditate excepturi sed voluptate. Ad
            consequuntur cum doloribus enim eum.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 ">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Pages
          </h6>
          <p>
            <i class="fa fa-home me-3"> </i>
            <a routerLink="" class="text-reset decoration">Acceuil</a>
          </p>
          <p>
            <i class="fa-solid fa-r me-3"> </i>
            <a routerLink="reservation" class="text-reset decoration">Reservation</a>
          </p>
          <p>
            <i class="fa fa-contact-card me-3"> </i>
            <a routerLink="/contact" class="text-reset decoration">Contact</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <!--        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">-->
        <!--          &lt;!&ndash; Links &ndash;&gt;-->
        <!--          <h6 class="text-uppercase fw-bold mb-4">-->
        <!--            Useful links-->
        <!--          </h6>-->
        <!--          <p>-->
        <!--            <a href="#!" class="text-reset">Pricing</a>-->
        <!--          </p>-->
        <!--          <p>-->
        <!--            <a href="#!" class="text-reset">Settings</a>-->
        <!--          </p>-->
        <!--          <p>-->
        <!--            <a href="#!" class="text-reset">Orders</a>-->
        <!--          </p>-->
        <!--          <p>-->
        <!--            <a href="#!" class="text-reset">Help</a>-->
        <!--          </p>-->
        <!--        </div>-->
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fa-solid fa-location-dot me-3"></i>149 Rue Ibn Zohair, Marrakech</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            mail.uca@uca.ac.ma
          </p>
          <p><i class="fas fa-phone me-3"></i> +212 623-512698</p>
          <p><i class="fas fa-print me-3"></i> +212 623-512698</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright:
    <a class="text-reset fw-bold" routerLink="">Club.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

