<div class="container-fluid  page">
  <div class="page_box ps-4">Home</div>
  <div class="page_content shadow p-3 ml-5 position-relative">
    <div class="page_content-data  ">
      <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Reservation Chambre en-attente">
          <app-admin-list-reservations-en-attente-chambre></app-admin-list-reservations-en-attente-chambre>
        </mat-tab>
        <mat-tab label="Reservation Bungalow en-attente">
          <app-admin-list-reservations-en-attente-bungalow></app-admin-list-reservations-en-attente-bungalow>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

