  <div class="row">
    <div class="card d-flex justify-content-center mx-auto my-3 p-5">
      <h6 class="text-muted">New</h6>
      <h2>Add new logement</h2>

      <div class="form-row">
        <div class="form-group col-md-6 first">
          <label for="inputFirstName">Numero <span>*</span></label>
          <input  class="form-control" id="inputNumero" name="numero" required [(ngModel)]="logement.numero">
          <div id="fnumero_error" class="val_error"></div>
        </div>
        <div class="form-group col-md-6 first">
          <label for="inputFirstName">Type <span>*</span></label>
          <input type="text" class="form-control" id="inputFirstName" name="firstname" required  [(ngModel)]="logement.typelogement">
<!--          <select name="type" id="type-select" [(ngModel)]="logement.typelogement">-->
<!--            <option value="">&#45;&#45;Please choose an option&#45;&#45;</option>-->
<!--            <option value="Chambre">Chambre</option>-->
<!--            <option value="Chambre">Bungalow</option>-->
<!--          </select>-->
          <div id="ftype_error" class="val_error"></div>
        </div>
        <div class="form-group col-md-6 first">
          <label for="inputCapacity">Capacity <span>*</span></label>
          <input  class="form-control" id="inputCapacity" name="capacity"  [(ngModel)]="logement.capacity">
          <div id="lcapacity_error" class="val_error"></div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEspace">Espace <span>*</span></label>
          <input  class="form-control" id="inputEspace" name="espace"  [(ngModel)]="logement.espace">
          <div id="email_error" class="val_error"></div>
        </div>
        <div class="form-group col-md-6">
          <label for="inputPrix">Prix <span>*</span></label>
          <input  class="form-control" id="inputPrix" name="prix"  [(ngModel)]="logement.prix">
          <div id="prix_error" class="val_error"></div>
        </div>
      </div>
      <div class="form-group mt-0">
        <label for="DescriptionTextarea1">Description </label>
        <textarea class="form-control" id="DescriptionTextarea1" rows="3" name="description"  [(ngModel)]="logement.description"></textarea><div id="message_error" class="val_error"></div>
      </div>
<!--      <div class="form-check form-check-inline">-->
<!--        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">-->
<!--        <label class="form-check-label" for="inlineCheckbox1">&nbsp;&nbsp;Send me offers & updates</label>-->
<!--      </div>-->
      <div class="form-button pt-4">
        <button type="submit" class="btn btn-primary btn-block btn-lg" value="Register" name="register" (click)="AddLogement()"><span>ADD</span></button>
      </div>
    </div>
  </div>

