<div class="d-flex">
  <div class="p-2">
    <button pButton pRipple type="button" label="Ajoutez une demmande" icon="pi pi-plus"
            class="p-button-outlined p-button-sm p-button-rounded mt-2"
            routerLink="/reservation"></button>
  </div>
</div>
<div class="col-lg-12 col-sm-12 col-md-12">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Type</th>
      <th scope="col">Date de Demande</th>
      <th scope="col">Bénéficiaire</th>
      <th scope="col">Date Début</th>
      <th scope="col">Date Fin</th>
      <th scope="col">État</th>
      <th scope="col">Annuler</th>
      <!--      <th scope="col" class="view">Détail</th>-->
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let element of reservationBungalows">
      <th scope="row">{{element.code}}</th>
      <td>{{element.type}}</td>
      <td>{{element.createdAt}}</td>
      <td>{{element.beneficiaire}}</td>
      <td>{{element.dateDebut}}</td>
      <td>{{element.dateFin}}</td>
      <!-- Etat-->
      <td *ngIf="element.confirmation == false && element.reject == false;">
        <i class="fa fa-circle me-1" style="color: #ea8857;"></i>En Cours...
      </td>
      <td *ngIf="element.confirmation == false && element.reject == true;">
        <i class="fa fa-circle me-1" style="color: #f80505;"></i>Reject
      </td>
      <td *ngIf="element.confirmation == true && element.reject == false;">
        <i class="fa fa-circle me-1" style="color: #08e30b;"></i>Valide
      </td>
      <!-- Annuler-->
      <td class="view"><i (click)="confirm($event, element.code, element.type)" class="fa fa-lg fa-trash btn btn-sm"
                          style="color: #DC4826;"></i>
        <p-confirmPopup></p-confirmPopup>
        <p-toast></p-toast>
      </td>
      <!--      <td class="view"><i class="fa fa-lg fa-eye btn btn-sm" (click)="showDialog1()"></i></td>-->
      <!--      <p-dialog header="Détail" [(visible)]="dialog1" [modal]="true" [style]="{width: '50vw'}"-->
      <!--                [draggable]="false" [resizable]="false">-->
      <!--        <p class="m-0" *ngIf="element.confirmation == false && element.reject == false;">-->
      <!--          Votre demande est bien enregistre-->
      <!--        </p>-->
      <!--        <p class="m-0" *ngIf="element.confirmation == true && element.reject == false;">-->
      <!--          good-->
      <!--        </p>-->
      <!--        <p class="m-0" *ngIf="element.confirmation == false && element.reject == true;">-->
      <!--          not good-->
      <!--        </p>-->
      <!--        <p>anuuler ma demande</p>-->
      <!--        <ng-template pTemplate="footer">-->
      <!--          <p-button icon="pi pi-check" (click)="dialog1=false" label="Ok" styleClass="p-button-text"></p-button>-->
      <!--        </ng-template>-->
      <!--      </p-dialog>-->
    </tr>
    <tr *ngFor="let element of reservationChambres">
      <th scope="row">{{element.code}}</th>
      <td>{{element.type}}</td>
      <td>{{element.createdAt}}</td>
      <td>{{element.beneficiaire}}</td>
      <td>{{element.dateDebut}}</td>
      <td>{{element.dateFin}}</td>
      <!-- Etat -->
      <td *ngIf="element.confirmation == false && element.reject == false;">
        <i class="fa fa-circle me-1" style="color: #ea8857;"></i>En Cours...
      </td>
      <td *ngIf="element.confirmation == false && element.reject == true;">
        <i class="fa fa-circle me-1" style="color: #f80505;"></i>Reject
      </td>
      <td *ngIf="element.confirmation == true && element.reject == false;">
        <i class="fa fa-circle me-1" style="color: #08e30b;"></i>Valide
      </td>
      <!-- Annuler -->
      <td class="view"><i (click)="confirm($event, element.code, element.type)" class="fa fa-lg fa-trash btn btn-sm"
                          style="color: #DC4826;"></i>
        <p-confirmPopup></p-confirmPopup>
        <p-toast></p-toast>
      </td>
      <!-- Show Dialog-->
      <!--      <td class="view"><i class="fa fa-lg fa-eye btn btn-sm" (click)="showDialog2()"></i></td>-->
      <!--      <div *ngIf="element.confirmation == true && element.reject == false;">-->
      <!--        <p-dialog header="Title" [(visible)]="dialog2">-->
      <!--          Content-->
      <!--        </p-dialog>-->
      <!--      </div>-->
    </tr>
    </tbody>
  </table>
</div>

