<div class="container-fluid page">
  <div class="page_box p-2 ">Logement</div>
  <div class="page_content shadow p-3 ml-5 position-relative">
    <div class="page_content-data  ">
<!--      <div class="card">-->
        <mat-tab-group mat-align-tabs="start">
          <mat-tab label="Chambre">

  <app-admin-logement-chambre></app-admin-logement-chambre>

          </mat-tab>
          <mat-tab label="Bungalow">
            <app-admin-logement-bungalow></app-admin-logement-bungalow>

          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
<!--</div>-->



