<div >
  <form >
    <div class="row container justify-content-center border-color=blue">
      <div class="col-1 ">
      </div>
      <div class="col-3 ">
        <div class="mb-5 pr-5 mt-5">
  <span class="p-float-label ">
    <input id="float-input1" type="text" pInputText [(ngModel)]="value2">
    <label for="float-input1">Username</label>
</span>
        </div>
        <div class="mb-5 mt-5">
  <span class="p-float-label">
    <input id="float-input2" type="text" pInputText [(ngModel)]="value2">
    <label for="float-input2">Username</label>
</span>
        </div>
        <div class="mb-5 mt-5">
  <span class="p-float-label">
    <input id="float-input3" type="text" pInputText [(ngModel)]="value2">
    <label for="float-input3">Username</label>
</span>
        </div>
      </div>
      <div class="col-1 ">
      </div>
      <div class="col-3 ">
        <div class="mb-5 mt-5">
  <span class="p-float-label">
    <input id="float-input1" type="text" pInputText [(ngModel)]="value2">
    <label for="float-input1">Username</label>
</span>
        </div>
        <div class="mb-5 mt-5">
  <span class="p-float-label">
    <input id="float-input2" type="text" pInputText [(ngModel)]="value2">
    <label for="float-input2">Username</label>
</span>
        </div>
        <div class="mb-5 mt-5">
  <span class="p-float-label">
        <p-calendar  id="float-input1" [(ngModel)]="date1"></p-calendar>
    <label for="float-input1">Username</label>

</span>
        </div>
      </div>
      <div class="col-1 ">
      </div>
      <div class="col-3  ">
        <div class="mb-5 mt-5">
  <span class="p-float-label">
    <input id="float-input1" type="text" pInputText [(ngModel)]="value2">
    <label for="float-input1">Username</label>
</span>
        </div>
        <div class="mb-5 mt-5">
  <span class="p-float-label">
    <input id="float-input2" type="text" pInputText [(ngModel)]="value2">
    <label for="float-input2">Name</label>
</span>
        </div>
        <div class="mb-5 mt-5">
  <span class="p-float-label">
      <p-password [(ngModel)]="value2" [toggleMask]="true"></p-password>
    <label for="float-input2">Password</label>
</span>
        </div>
      </div>
      <div class="col-1 ">
      </div>
    </div>
  </form>
</div>
